<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            overflow-x: hidden;
            font-family: 'Times New Roman', Times, serif
        }

        nav {
            background-color: #ffffff;
            margin-top: 1rem;
            margin-right: 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;
        }

        h2 {
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: #000000;
        }

        .a {
            text-decoration: none;
            color: #2d56e8;
            border-bottom: .1rem solid #ffffff;
            transition-duration: 800ms;
            text-transform: uppercase;


        }


        .a:hover {
            border-bottom: .1rem solid #0037ff;
            /* transition-duration: .8sec; */
        }

        .hero-section{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }

        .post {
            height: 20rem;
            width: 12rem;
            background-color: #b3b3b3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: .2rem;
        }

        .pic {
            height: 16rem;
            width: 11rem;
            /* background-color: #ffffff; */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            height: 15.5rem;
            width: 10.5rem;
        }

        .pic-heading {
            /* width: 100%; */
            height: 18.72px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .text {
            margin-left: 1rem;
            margin-right: 1rem;
            /* background-color: red; */
            height: 3rem;
        }

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: .8rem;
            margin-top: 15rem;
        }

        input {
            border-left: none;
            border-top: none;
            border-right: none;
            outline: none;
            height: 2rem;
            width: 15rem;
            padding: .5rem;
            /* border-radius: .2rem; */
            /* background-color: #b1b1b1; */
            color: #2d56e8;
            letter-spacing: .01rem;
            font-size: .9rem;
        }

        .button {
            background-color: #2d56e8;
            color: #fff;
            width: 9rem;
            border: none;
            cursor: pointer;
            margin-top: 1rem;
        }

        .button:hover {
            background-color: #4568e6;

        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h2>Edit Post</h2>
        <nav class="nav">
            <a href="/user/profile" class="a">my profile</a>
            <a href="/user/register" class="a">register </a>
            <a href="/user/login" class="a">login</a>
            <a href="/user/logout" class="a">logout</a>
        </nav>

        <div class="hero-section">
            <div class="left-post">
                <div class="post">
                    <div class="pic-heading">
                        <%= post.heading %>
                    </div>
                    <div class="pic">
                        <img src="/images/uploads/<%= post.file %>" alt="not find">
                    </div>
                    <div class="text">
                        <p>
                            <%= post.text %>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="right-form">
                <form action="/post/edit/<%= post._id %>" method="post" enctype="multipart/form-data">
                    <input type="text" name="heading" id="" placeholder="update your heading" value="<%= post.heading %>">
                    <label for="nothing">enter your new photo</label>
                    <input type="file" name="file" id="" value="<%= post.file %>">
                    <input type="text" name="text" id="" placeholder="update your text container" value="<%= post.text %>">
                    <input type="submit" value="update post" class="button">
                </form>
            </div>
            <div class="delete">
                <a href="/post/delete/<%= post._id %>">delete</a>
            </div>
        </div>
    </div>
</body>

</html>